<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>aulawebdb</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AcessoAdmin</filter-name>
        <filter-class>web.aula.filter.AcessoAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUsuariosServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.usuarios.CreateUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsuariosServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.usuarios.UpdateUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteusuariosServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.usuarios.DeleteusuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsuariosServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.usuarios.ListUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsuariosServlet</servlet-name>
        <servlet-class>web.aula.servlet.admin.usuarios.SearchUsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUsuariosServlet</servlet-name>
        <url-pattern>/admin/usuarios/adicionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsuariosServlet</servlet-name>
        <url-pattern>/admin/usuarios/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteusuariosServlet</servlet-name>
        <url-pattern>/admin/usuarios/deletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsuariosServlet</servlet-name>
        <url-pattern>/admin/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsuariosServlet</servlet-name>
        <url-pattern>/admin/pesquisar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
